.container {
  display: grid;
  min-height: 100vh;

  grid-template-areas: 'header' 'main' ' footer';

  grid-template-rows: auto 1fr auto;
  /* margin: 80px; */
}

button {
  background-color: #f4ce14;
  width: auto;
  height: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  border-color: none;
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: black;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  padding: 32px 120px;
}

.logo {
  height: 40px;
  width: 148px;
}

.main {
  display: grid;
  grid-template-areas: 'hero' 'highlights' 'testimonials' 'about';
  grid-template-rows: auto auto auto auto;
}

.main {
  grid-area: main;
  gap: 80px;
}

.hero {
  display: grid;
  grid-area: hero;
  grid-template-columns: 1fr 1fr;
  background-color: #495e57;
  /* margin-left: 80px; */
  padding: 80px 120px;
  gap: 80px;
  align-items: center;
}

.hero-text h1 {
  font-size: 56px;
  margin-top: 0;
  margin-bottom: 8px;
  color: #f4ce14;
  font-family: 'Roboto', sans-serif;
}

.hero-text h2 {
  font-size: 32px;
  margin-bottom: 16px;
  color: white;
  font-family: 'Markazi Text', serif;
}

.hero-text p {
  margin-bottom: 20px;
  max-width: 500px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img img {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
}

.highlights {
  grid-area: highlights;
  padding: 0px 120px;
}

.highlights-part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlights-part1 h2 {
  font-size: 40px;
  font-weight: 500px;
  font-family: 'Karla', sans-serif;
  color: black;
}

.highlights-part1 button {
  min-height: 60px;
  width: fit-content;
}

.highlights-part2 {
  display: grid;
  gap: 32px;

  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0;
  padding-bottom: 0;
}

.item-price h3 {
  font-family: 'Markazi Text', serif;
  line-height: 90%;
  color: black;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

.item-price p {
  font-family: 'Karla', sans-serif;
  line-height: auto;
  color: #ee9972;
  font-weight: 700;
  font-size: 16px;
}

.card {
  display: flex;
  flex-direction: column;

  border-radius: 16px;
  overflow: hidden;

  background-color: #edefee;
  min-height: 400px;
  padding-bottom: 32px;
}

.image-section img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.card-content {
}

.card-content p{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #495E57
}

.information-section {
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 1024px) {
  .highlights-part2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.order-online {
  display: flex;
  gap: 16px;
  align-items: center;
}

.order-online a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: 'Karla', sans-serif;
}

.order-icon {
  height: 16px;
  width: 25px
}

.testimonials {
  grid-area: testimonials;
}

.about {
  grid-area: about;
}

.footer {
  grid-area: footer;
  padding: 80px 120px;
  background-color: #495e57;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
